<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325632114338-q3dv0vgn52v5c9vd0iomg1m39vs3hbjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325632114338-q3dv0vgn52v5c9vd0iomg1m39vs3hbjp</string>
	<key>API_KEY</key>
	<string>AIzaSyDauA6poZxP7w-7qHJgnx93esmQFhchDzE</string>
	<key>GCM_SENDER_ID</key>
	<string>325632114338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.christian.pcmedic-demo</string>
	<key>PROJECT_ID</key>
	<string>pc-medic-16695</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-medic-16695.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325632114338:ios:8fbba92d7cc801f64021fb</string>
	<key>DATABASE_URL</key>
	<string>https://pc-medic-16695-default-rtdb.firebaseio.com</string>
</dict>
</plist>